@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html{
scroll-behavior: smooth;
}

body{
font-family: '微軟正黑體';
}

.wrap{
  width: 100%;
  margin: 0 auto;
  position: relative;
  scroll-behavior: smooth;
}

.banner{
  height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url(https://hexschool.github.io/JavaScript_HomeWork/assets/the-urban-landscape-1698285.png) no-repeat center;
  background-attachment: fixed;
  background-size:cover;
}

.title{
  font-size: 45px;
  letter-spacing: 3.89px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 20px;
}

.selection{
  padding: 10px;
  width: 452px;
  font-size: 18px;
  font-weight: 600;
  appearance: none;
  background: rgba(255, 255, 255, 0.7);
  outline: none;
  border: 3px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
.selectBox{
  position: relative;
  margin-bottom: 50px;
}


.selectBox::after{
  pointer-events: none;
  content: '';
  position: absolute;
  top: 40%;
  right: 5%;
  width: 16px;
  height: 11px;
  background-image: url(https://hexschool.github.io/JavaScript_HomeWork/assets/icons_down.png);
}

.hotSpot h2{
font-size: 18px;
font-weight: 600;
margin-top: 15px;
margin-left: 25px;
}
.hotSpot{
width: 800px;
position: absolute;
top: 352px;
left: 50%;
transform: translate(-50%, 0);
background: #ffffff;
border-radius: 5px;
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2)
}
.hotList{
display: flex;
padding: 15px 50px;
}
.hotList button{
font-weight: 600;
transition: 0.2s ease-in-out;
cursor: pointer;
border: none;
font-size: 20px;
padding: 10px 34px;
border-radius: 5px;
margin-right: 30px;
color: #ffffff;
}
.hotList li:nth-child(1) button{
background: #8A82CC;
}
.hotList li:nth-child(2) button{
background: #FFA782;
}
.hotList li:nth-child(3) button{
background: #F5D005;
}
.hotList li:nth-child(4) button{
background: #559AC8;
}

.hotList button:hover{
transform: scale(1.05);
box-shadow: 0px 1.5px 3px 0px rgba(0, 0, 0, 0.8);
}

.content{
display: flex;
flex-direction: column;
align-items: center;
}

.arrow{
background: #ffffff;
display: flex;
justify-content: center;
align-items: center;
width: 24px;
height: 24px;
margin-top: 120px;
border: 1px solid #559AC8;
border-radius: 50%;
margin-bottom: 50px;
position: relative;
}

.arrow::after{
content:"";
position: absolute;
width: 85vw;
height: 1px;
background-image: linear-gradient(to right, #559AC8 0%, #559AC8 50%, transparent 50%);
background-repeat: repeat-x;
background-size: 15px 1px;
z-index: -10;
}

.currentArea{
color: #696969;
font-family: 'cwTeXYen',sans-serif;
font-size: 45px;
font-weight: 600;
letter-spacing: 3px;
margin-bottom: 40px;
}

.list{
width: 100%;
min-width: 700px;
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 0px 60px;
}
.list li{
width: 500px;
margin: 0px 10px;
margin-bottom: 60px;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.footer{
background: #559AC8;
padding: 30px 0px;
}
.footer h2{
font-size: 14px;
text-align: center;
color: #ffffff;
}
.footer h2:nth-child(2){
color: #FFD366;
margin-top: 20px;
}

.list li:hover{
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.list li:hover .pic{
background-size: 125% !important;
}

.list li .pic{
height: 155px;
display: flex;
justify-content: space-between;
align-items: flex-end;
color: #ffffff;
padding: 10px 20px;
transition: 0.4s ease-in-out;
}

.list li .pic h2{
font-size: 24px;
}
.list li .pic h3{
font-size: 16px;
}

.detail{
padding: 15px 20px;
font-size: 16px;
line-height: 18px;
font-weight: 600;
}

.time, .address, .contact, .number, .visit{
display: flex;
}
.contact{
justify-content: space-between;
}


.icon{
width: 18px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 5px;
}
.time, .address, .contact{
margin-bottom: 10px;
}

.ticketPopInfo{
display: none;
}

.visit p{
cursor: pointer;
position: relative
}

.visit p:hover .ticketPopInfo{
display:block;
position:absolute;
top:30px;
left:-20px;
width:140px;
background-color:#424242;
color:#fff;
padding:10px;
border-radius: 5px;
}

.pageBox{
margin-top: 60px;
margin-bottom: 40px;
}
.page{
display: flex;
}

.page li{
margin-right: 10px;
}

.page li a {
transition: 0.1s ease-in-out;
color: #000;
font-size: 14px;
font-weight: 600;
display: inline-block;
border-radius: 50%;
padding: 10px 15px;
text-decoration: none;
letter-spacing: 1.5px;
}

.pagination:hover{
background-color: #CCDDFF;
}
.previousPage:hover, .nextPage:hover{
text-decoration: underline;
}

.page li a:active{
color: #000;
}

.goToTopBox{
width: 100%;
position: relative;
}

.goToTop{
position: absolute;
right: 4%;
bottom: 180px;
opacity: 0%;
}

.goToTopAnimation{
animation: moveDown 2.2s ease-in-out;
animation-fill-mode: forwards;
}

@keyframes moveDown{
0%{bottom: 180px;
  opacity: 0%;
  }
100%{bottom: 80px;
  opacity: 100%;
  }
}


@media only screen and (max-width:768px){
  .hotSpot{
    width: 80%;
  }
  
  .hotList{
    flex-wrap: wrap;
  }
  
  .hotList li{
    width: 25%;
  }
  
  .hotList li button{
    font-size: 18px;
    padding: 8px 0px;
    width: 80%;
  }
  
  .selectBox{
    width: 65%;
  }
  .selection{
    width: 100%;
  }
  
  .title{
    font-size: 38px; 
  }

  .list{
    min-width: 500px;
  }

  .list li{
    width: 85%;
  }
}

@media only screen and (max-width:320px){
  .goToTop{
    right:10%;
    bottom: unset;
  }
  .pageBox{
    width: 90%;
  }
  .page{
    flex-wrap: wrap;
  }
  .page li{
    margin-bottom: 10px;
  }

  @keyframes moveDown{
    0%{bottom: 180px;
      opacity: 0%;
      }
    100%{bottom: 15px;
      opacity: 100%;
      }
    }
}
